[submodule "lib/eurorack"]
	path = lib/eurorack
	url = https://github.com/chrisherb/eurorack.git
[submodule "lib/trnr-lib"]
	path = lib/trnr-lib
	url = https://github.com/chrisherb/trnr-lib.git
[submodule "lib/ftxui"]
	path = lib/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
